body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color:white;
  color: darkslategray;
}
  
button {
  border: solid lightblue;
  color: white;
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 0.2rem;
}

button:hover {
  transform: scale(1.2);
}

#searchBar {
  padding: 0.5rem;
  margin: 0.5rem;
  border: 2px solid black;
  border-radius: 0.2rem;
  width: 80vw;
}

.nav-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 4px;
}
.nav-button:hover {
  background-color: #0056b3;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 1rem;
  justify-content: center;
}

.gallery img {
  border-radius: 8px;
  width: 300px;
  height: auto;
  max-height: 200px;
}

.gallery-item {
  list-style: none;
  text-align: center;
  max-width: 340px;
  margin-bottom: 2rem;
}

.custom-modal {
  display: flex-column;
  justify-content: center;
}

.custom-modal img {
  border-radius: 8px;
  width: 100%;
  height: auto;
  max-width: 600px;
  max-height: 400px;
  object-fit: contain;
}